body{
    background-image: url(../images/stripes-light.png);
    padding: 0;
    margin: 0;
}

.jumbotron{
    height: 200px;
    background-color: #FF66CC;
}

h1{
    font-family: 'Russo One', sans-serif;
    font-size: 80px;
    color: white;
}

.btn{
    font-family: 'Ubuntu', sans-serif;
    height: 40px;
    font-size: 18px;
    margin: 10px 10px 10px 10px;
}

label{
    font-family: 'Ubuntu', sans-serif;
    height: 40px;
    font-size: 20px;
    margin: 10px 10px 10px 10px;
}

.searchImage{
    display: inline;
}
